<head>

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
          <script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>
          <script>
            $(function() {

              var selectBox = $("select").selectBoxIt();

            });
          </script>

<link rel="stylesheet" href="http://gregfranko.com/jquery.selectBoxIt.js/css/jquery.selectBoxIt.css" />

    <script src="http://code.highcharts.com/highcharts.js"></script>

<script src="http://code.highcharts.com/modules/exporting.js"></script>
<%if @g.present?%>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "圓餅圖"
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: <%=@g.to_json.html_safe%>
        }]
    });
});
</script>
<script>
    $(function () {
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: "長條圖"
        },
        subtitle: {
            text: 'Source: <a href="http://www.colatour.com.tw" >COLA Tour</a>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '長條圖'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
        },
        series: [{
            name: 'Population',
            data:<%=@g.to_json.html_safe%> ,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

</script>
<%end%>
</head>
<body id="page-top">
<div id='container1'>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">COLA</span> DB Analysis 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    
                    
                       <!-- <a class="page-scroll" href="#download">Download</a> -->
                        <% if user_signed_in? %>
                    <li><a>用戶：<%=current_user.email%></a></li>
                    <li>
                    <%= link_to "Log Out", destroy_user_session_path,method:'delete' %>
                    </li>
                    <% else %>
                    <li>
                    <%= link_to "Log In", new_user_session_path %>
                    </li>
                    <% end %>


                    <li>
                        <a class="page-scroll" href="#about">Search</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#armpit">Graph</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header class="intro">
        <div class="intro-body" id='intro-bg'>
            <div class="container" id=belly>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    
                    
                        <h1 class="brand-heading">旅遊偏好分析系統</h1>
                        <p class="intro-text">不同類型顧客的旅遊偏好</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div  id='about'>
    </div>
    <!--<section id="about" class="container content-section text-center">
        -->
<%if user_signed_in?%>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row" id="mainform">
                <h2>Search--搜尋條件</h2>
                <div id='mainform'>
                <%= form_tag root_path,method:"get" do %>
    
           
            
        <h3>
        顧客類型
        </h3>
            <label class='selectTitle'>性別</label>
        <q class="selection">    
            <%=select_tag :gender,"<option>全部</option><option>男</option><option>女</option>".html_safe ,:onchange => 'genderchanged()' %></q>

        <label class='selectTitle'>年齡</label>
        <q class="selection">
        <%=select_tag :age,"<option>全部</option><option>1~20</option><option>21~40</option><option>41~60</option><option>61~80</option>".html_safe,:onchange => 'agechanged()'%></q>
        
        <p>
        <h3>
        旅遊偏好
        </h3>
            <%= radio_button_tag(:graph, "region") %><label class='selectTitle'>地區</label>
            <%= radio_button_tag(:graph, "month") %><label class='selectTitle'>月份</label>
            <%= radio_button_tag(:graph, "type") %><label class='selectTitle'>團型</label>
            <q class='selection'><%=submit_tag "search"%></q>
        
    <%end%>
    </div>
                
            </div>

        </div>
                <br></br>
                <div class="col-lg-8 col-lg-offset-2" id='graphtitle' >
                <div id='armpit'></div>
                    <h2 >Result</h2>
                     <div id='graphoption'>
                <%=label_tag @result %>
                </div>
                </div>
    
           
         <div id='down'>
            
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
<div id='chart2'>
 <div id="container2" style="min-width: 300px; height: 400px; margin: 0 auto">
</div>
</div>
    <!--</section>-->
 
    <!-- Download Section -->
    

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <div id="minion1"><%=image_tag('Angry-Minion-icon.png')%><p>
                朱思瑀 資管二 102306045</p>
                <p>邱俊銘 資管二 102306005</p>
                <p>吳律賢 資管二 102306087</p>
                  <a href="mailto:102306045@nccu.edu.tw">
                </div>
                
                <a href="mailto:102306045@nccu.edu.tw">
                <p>Feel free to email us to provide some feedback, to give us suggestions for the system, or to just say hello!</p></a>
              
                </p>


                <ul class="list-inline banner-social-buttons">
                   <li>
                        <a href="https://github.com/Szu-Yu/Saturday-" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">FAcebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/Szu-Yu/Saturday-" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <%else%>
    <p id="please">Please log in to continue.</p>
<%end%>
    <!-- Map Section -->
    

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; MIS DBMS KING 2015</p>
        </div>
    </footer>

          
</div>
</body>